<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styleindex.css">
    <title>Inicio</title>
</head>

<body>

    <nav class="navbar navbar-light fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">No se que poner xD</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOpen">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarOpen">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apoyanos">Apoyanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adopta">Adopta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Veterianrio</a>
                    </li>
                    <li class="nav-item">
                        <a id="logoutButton" class="nav-link" href="/">Cerrar sesión</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="support-section" >
        <div class="support-content" style="background: url(/static/img/fondo1.jpg) no-repeat center center/cover; color: #fff; padding: 50px 20px; text-align: center; position: relative;">
            <h1>Apóyanos</h1>
            <p>Ayúdanos a brindar cuidado y encontrar hogares amorosos para los animales necesitados. ¡Tu apoyo marca una gran diferencia!</p>
            <a href="#" class="donate-btn" id="donate-btn">Donar</a>
            <div class="support-options">
                <div class="support-option">
                    <img src="static/img/icono1.jpg" alt="Donar Dinero">
                    <h3>Donar Dinero</h3>
                    <p>Apóyanos financieramente para ayudar a más animales.</p>
                </div>
                <div class="support-option">
                    <img src="static/img/icono2.jpg" alt="Voluntario">
                    <h3>Voluntario</h3>
                    <p>Dedica tu tiempo para ayudar a cuidar a los animales.</p>
                </div>
                <div class="support-option">
                    <img src="static/img/icono4.jpg" alt="Donar Suministros">
                    <h3>Donar Suministros</h3>
                    <p>Proporciona artículos necesarios como comida y juguetes.</p>
                </div>
                <div class="support-option">
                    <img src="static/img/icono3.jpg" alt="Compartir">
                    <h3>Compartir</h3>
                    <p>Ayúdanos a difundir nuestra misión.</p>
                </div>
            </div>
        </div>
    </div>
    


    <script src="/static/js/script.js"></script>
    <script src="/static/js/logout.js"></script>
</body>
</html>
