<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <form id="loginForm">
            <label for="username">Correo Electrónico:</label>
            <input type="email" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Iniciar Sesión</button>
        </form>

    <div id="message"></div>

    <!-- Incluir la biblioteca Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="login.js">
        document.getElementById("loginForm").addEventListener("submit", function(event) {
    event.preventDefault();
  
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;
  
    // Realizar la solicitud POST a la API utilizando Axios
    axios.post("/api/login", { username, password })
      .then(response => {
        if (response.status === 200) {
            alert("Credenciales válidas!!!!");
        } else {
          alert("Credenciales inválidas");
        }
      })
      .catch(error => {
        console.error("Error al realizar la solicitud:", error);
      });
  });
  
  
    </script>
</body>
</html>
