<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/stylelog.css">
    <title>Login</title>
    
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="sing-up form">
                <h1>Crea una cuenta</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <span>Utiliza tu correo para registrarte</span>
                <div class="input-group">
                    <div class="column">
                        <input type="text" id="nombre1" placeholder="Primer Nombre" required="1">
                        <input type="text" id="apellido1" placeholder="Primer Apellido" required="1">
                        <input type="text" id="direccion" placeholder="Dirección">
                    </div>
                    <div class="column">
                        <input type="text" id="nombre2" placeholder="Segundo Nombre">
                        <input type="text" id="apellido2" placeholder="Segundo Apellido">
                        <input type="text" id="telefono" placeholder="Teléfono">
                    </div>
                </div>
                <input type="email" id="email_new" placeholder="Correo electrónico" required="1">
                <input type="password" id="password_new" placeholder="Contraseña" required="1" oninput="validatePassword(this.value)">
                <div id="passwordError" style="color: red;"></div>
                <div id="passwordMessage" style="color: green;"></div>
                <button type="submit" id="sign-up">Registrarse</button>
            </form>
        </div>
        
        <div class="form-container sign-in">
            <form id="loginForm">
                <h1>Inicia sesión</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <span>Utiliza tu correo y contraseña para iniciar</span>
                <input type="email" id="username" placeholder="Correo electrónico" required="1">
                <input type="password" id="password" placeholder="Contraseña" oninput="passError(this.value)" required="1">
                <div id="passError" style="color: red;"></div>
                <a href="#">Olvidaste tu contraseña?</a>
                <button type="submit">Ingresar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido de vuelta!</h1>
                    <p>Si ya tienes cuenta, ingresa tus datos</p>
                    <button class="hidden" id="login">Ingresar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>¿No tienes cuenta?</h1>
                    <p>Registrate para poder acceder a todas las funciones de la página</p>
                    <button class="hidden" id="register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>